.slide-wrapper {
  display: flex;
  position: relative;
  right: 0;
  transition: 0.5s ease;
}

.slide-window {
  display: flex;
  overflow: hidden;
  border: 1px solid;
}

.user-class {
  min-width: 100px;
  min-height: 100px;
}

.main-slider {
  display: flex;
}
